#header {
	display: block;
	height: 55px;
}

#content {
	display: block;
}

#footer {
	font: 10px arial;
	display: block;
	height: 25px;
	width: 100%;
	background-color: #eee;
	border-top: 0px solid #bbb;
	padding-top: 4px;
	padding-left: 10px;
}

.text-input {
	height: 21px;
	width: 150px;
}

.edit-table {
	margin-top: 5px;
	margin-bottom: 5px;
}

.edit-table td,.edit-table tr {
	margin: 0px;
	padding: 2px;
	border-spacing: 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 12px;
	height: 27px;
}

.jqx-validator-hint{
	height: 18px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    padding: 3px 7px 3px 26px;
    font-family: Verdana;
    font-size: 13px;
    border: 1px solid #C80000;
    background-color: #fffAF0;
    color: #111;
    z-index: 99999;
    white-space: nowrap;
    border-radius:4px; box-shadow: 4px 4px 8px #CCC;
    background-image:url('../images/error.png');
    background-repeat: no-repeat;
    background-position:5px 4px;
}